<a href="https://colab.research.google.com/github/sanjibsinha/simple-python/blob/dictionaries/simple_python_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
john_smith = {'Name':'John Smith', 'Age': 32, 'Sex': 'male'}
print(john_smith)

{'Name': 'John Smith', 'Age': 32, 'Sex': 'male'}

In [7]:
json_web = {'Name':'Jason Web', 'Age': 35, 'Sex': 'male'}
print(json_web)

{'Name': 'Jason Web', 'Age': 35, 'Sex': 'male'}

In [4]:
print(john_smith['Age'])

35

In [16]:
dict ={}
 
# Insertng data into dictionary
tabular_data = {1: ["John Smith", 32, 'male'],
     2: ["Json Web", 35, 'male'],
     3: ["Elena Ferrante", 67, 'male'],
     }
 
# printing the names of the columns.
print ("{:<10} {:<10} {:<10}".format('Name', 'Age', 'Sex'))
 
# printing each data item.
for key, value in tabular_data.items():
    name, age, course = value
    print ("{:<10} {:<10} {:<10}".format(name, age, course))

Name       Age        Sex
John Smith 32         male
Json Web   35         male
Elena Ferrante 67         male